<div>
  <h1>{{ title }}</h1>
  <div class="container">
    <app-add-task (emitTask)="add($event)"></app-add-task>
    <!--above it recive event "emitTask" and handle it with 'add()' method to capture '$event' -->
  </div>
  <div class="container">
    <div>
      <app-todo-task
        [tasksList]="tasksList"
        (emitDone)="done($event)"
        (emitRemove)="remove($event)"
      ></app-todo-task>
      <!--above:
         property [tasksList] receive 'tasksList' and assign 'tasksList' variable from AppComponent(Parent) and send to ChildComponent
         if we receive event "emitDone" and "emitRemove" from ChildComponent then we execute method "done()" and "remove()" in AppComponent|both of them capturing $event from webBrowser

       -->
    </div>
    <div>
      <app-done-task [tasksDone]="tasksDone"></app-done-task>
      <!-- property [tasksDone] receive 'tasksList' and assign 'tasksDone' variable from AppComponent(Parent) and send to ChildComponent -->
    </div>
  </div>
</div>
