<div>
  <h1>{{ title }}</h1>
  <div class="container">
    <div>
      <input type="text" [(ngModel)]="newTask" />
      <button (click)="add()">Add New Task</button>
    </div>
  </div>
  <div class="container">
    <div>
      <p>Taks List:</p>
      <ng-container *ngIf="tasksList.length > 0; else noTask">
        <ol>
          <li *ngFor="let task of tasksList">
            <!-- we declared 'task' variable in *ngFor directive so we can use it in interpolation and as a paramater in methods -->
            {{ task }}
            <button (click)="remove(task)">Remove</button>
            <button (click)="done(task)">Done</button>
          </li>
        </ol>
      </ng-container>
      <ng-template #noTask>
        <p>No tasks... You have free time now...</p>
      </ng-template>
    </div>
    <div>
      <p>Taks Done {{ tasksDone.length }}:</p>
      <ol>
        <li *ngFor="let task of tasksDone">
          <!-- show tasks which was added to new Array 'tasksDone' with methods in this component -->
          {{ task }}
        </li>
      </ol>
    </div>
  </div>
</div>
