<div>
  <h1>{{ title }}</h1>
  <div class="container">
    <app-add-task (emitTask)="add($event)"></app-add-task>
    <!--above it recive event "emitTask" and handle it with 'add()' method to capture '$event' -->
  </div>
  <div class="container">
    <div>
      <app-todo-task
        [tasksList]="tasksList"
        (emitDone)="done($event)"
        (emitRemove)="remove($event)"
      ></app-todo-task>
      <!--above:
         property [tasksList] receive 'tasksList' and assign 'tasksList from AppComponent(Parent)
         if we receive event "emitDone" and "emitRemove" from ChildComponent then we execute method "done()" and "remove()" in AppComponent|both of them capturing $event from webBrowser

       -->
    </div>
    <div>
      <p>Taks Done {{ tasksDone.length }}:</p>
      <ol>
        <li *ngFor="let task of tasksDone">
          <!-- show tasks which was added to new Array 'tasksDone' with methods in this component -->
          {{ task }}
        </li>
      </ol>
    </div>
  </div>
</div>
