<p [ngStyle]="{ color: getColor() }">TO-DO List: {{ tasksList.length }}</p>
<!-- above "ngStyle" property sets color returned [string] from getColor() method  -->
<ng-container *ngIf="tasksList.length > 0; else noTask">
  <ol>
    <!-- below we add appDate Directive with [date] Property-Binding to send and Show {{task.created}} info when Event will happen -->
    <li
      appDate
      [date]="task.created"
      *ngFor="let task of tasksList | sortName; let odd = odd"
      [ngClass]="{ 'odd-li': odd, 'last-list': tasksList.length === 1 }"
    >
      <!--1. 'odd' property was taken and assign to 'odd' variable(boolean) then with special construction of [ngClass] property set condition when 'odd-li' we can add to this html-tag
        |condition above is the same as "odd-li: odd===true" but shorter|
      2. we set another class for <li> tag whith condition in [ngClass](special ngClass construction) when tasksList has last element
        |we can also add method here like in [ngStyle] property|
      3. we add to tasksList | sortName Pipe to sort this Array by "Task.name" to display it  with alphabeticalcal order -->
      <!-- we declared 'task' variable in *ngFor directive so we can use it in interpolation and as a paramater in methods -->
      {{ task.name | transformTask: "!" }}
      <!-- above We can add arguments to pipe after colon ":" -->
      <!--above beacause we replace string into interface we need to invoke 'name' from object -->
      <button type="button" class="btn btn-danger" (click)="remove(task)">
        Remove</button
      ><!-- remove()) method emit data to Parent Component -->
      <button type="button" class="btn btn-success" (click)="done(task)">
        Done</button
      ><!-- done()) method emit data to Parent Component -->
    </li>
  </ol>
</ng-container>
<ng-template #noTask>
  <p>No tasks... You have free time now...</p>
</ng-template>
