<p [ngStyle]="{ color: getColor() }">TO-DO List: {{ tasksList.length }}</p>
<ng-container *ngIf="tasksList.length > 0; else noTask">
  <ol>
    <li
      [appDate]="task.created"
      *ngFor="let task of tasksList | sortName; let odd = odd"
      [ngClass]="{ 'odd-li': odd, 'last-list': tasksList.length === 1 }"
    >
      {{ task.name | transformTask : "!" }}

      <button type="button" class="btn btn-danger" (click)="remove(task)">
        Remove
      </button>
      <button type="button" class="btn btn-success" (click)="done(task)">
        Done
      </button>
    </li>
  </ol>
</ng-container>
<ng-template #noTask>
  <p>No tasks... Now you have free time to relax...</p>
</ng-template>
