<p [ngStyle]="{ color: getColor() }">TO-DO List: {{ tasksList.length }}</p>
<!-- above "ngStyle" property sets color returned [string] from getColor() method  -->
<ng-container *ngIf="tasksList.length > 0; else noTask">
  <ol>
    <li *ngFor="let task of tasksList">
      <!-- we declared 'task' variable in *ngFor directive so we can use it in interpolation and as a paramater in methods -->
      {{ task }}
      <button (click)="remove(task)">Remove</button
      ><!-- remove()) method emit data to Parent Component -->
      <button (click)="done(task)">Done</button
      ><!-- done()) method emit data to Parent Component -->
    </li>
  </ol>
</ng-container>
<ng-template #noTask>
  <p>No tasks... You have free time now...</p>
</ng-template>
